   <h1> Modifier</h1>
    <div class="container">
  <%= simple_form_for @pet do |f| %>
    <%= f.input :name, label: "Nom", :input_html => { :class => 'form-input' } %>
    <%= f.input :weight, label: "Poids", :input_html => { :class => 'form-input' } %>
    <%= f.input :photo, as: :file , :input_html => { :class => 'form-input' } %>
    <%= f.button :submit, "Enregistrer", class: 'green-basic-btn' %>
  <% end %>
</div>
