<h1> Mes compagnons </h1>

<% @pets.each do |list| %>
  <div class="card-container">

    <!-- Infos de l'animal -->

    <% if list.pet.photo.key == nil %>
      <%= image_tag "lumo.png", width: "250px", height: "250px", alt: "Petit chat mignon", style: "border-radius: 50%;" %>
    <% else %>
      <%= cl_image_tag (list.pet.photo.key), width: "250px", height: "250px", alt: "Petit chat mignon", style: "border-radius: 50%;", class: "card-image" %>
    <% end %>
    <h2><%= list.pet.name %></h2>
    <div class="pet-infos-container">

        <p><i class="fa-solid fa-weight-hanging" style="color: #060d0e;"></i> <%= list.pet.weight %>kg</p>
        <p><i class="fa-solid fa-cake-candles" style="color: #060d0e;"></i> <%= list.pet.age %></p>
        <p>
          <% if list.pet.animal_type == "Chat" %>
            <i class="fa-solid fa-cat" style="color: #060d0e;"></i>
          <% elsif list.pet.animal_type == "Chien" %>
            <i class="fa-solid fa-dog" style="color: #060d0e;"></i>
          <% elsif list.pet.animal_type == "Oiseau" %>
            <i class="fa-solid fa-crow" style="color: #060d0e;"></i>
          <% elsif list.pet.animal_type == "Cheval" %>
            <i class="fa-solid fa-horse" style="color: #060d0e;"></i>
          <% elsif list.pet.animal_type == "Poisson" %>
            <i class="fa-solid fa-fish" style="color: #060d0e;"></i>
          <% elsif list.pet.animal_type == "Grenouille" %>
            <i class="fa-solid fa-frog" style="color: #060d0e;"></i>
          <% elsif list.pet.animal_type == "Araignée" %>
            <i class="fa-solid fa-spider" style="color: #060d0e;"></i>
          <% elsif list.pet.animal_type == "Serpent" %>
            <i class="fa-solid fa-worm" style="color: #060d0e;"></i>
          <% elsif list.pet.animal_type == "Insecte" %>
            <i class="fa-solid fa-locust" style="color: #060d0e;"></i>
          <% elsif list.pet.animal_type == "Dragon" %>
            <i class="fa-solid fa-dragon" style="color: #060d0e;"></i>
          <% else %>
            <i class="fa-solid fa-shrimp" style="color: #060d0e;"></i>
          <% end %>
          <%= list.pet.breed %>
    </p>
    </div>
    <p><%= list.pet.description %></p>

    <!-- Boutons action pour agir sur mes animaux-->

    <div class="pet-actions">
      <%= link_to raw('<i class="fa-solid fa-eraser fa-xl" style="color: #060d0e;"></i>'), pet_path(list.pet.id), data: { turbo_method: :delete, turbo_confirm: "Êtes vous sûr(e)?" } %>
      <%= link_to raw('<i class="fa-solid fa-chevron-down fa-2xl" style="color: #060d0e;"></i>'), pet_path(list.pet.id) %>
      <%= link_to raw('<i class="fa-solid fa-pencil fa-xl" style="color: #060d0e;"></i>'), root_path %>
    </div>

    <!-- divs pour le contenu (activées lors du click sur les boutons correspondants) -->

    <div class="card-pet-modification">

    </div>

    <div class="card-pet-informations">

    </div>

  </div>
<% end %>


    <%= link_to "Ajouter un compagnon", new_pet_path, class: "green-basic-btn"%>
