<h1> Nouveau compagnon </h1>
<%= simple_form_for @pet do |f| %>
  <%= f.input :name, label: "Nom" %>
  <%= f.input :animal_type, collection: ['Chien', 'Chat', 'Hamster', 'Souris', 'Cheval', 'Serpent', 'Oiseau', 'Poisson', 'Grenouille', 'Araignée'], label: " Type de compagnon " %>
  <%= f.input :breed, label: "Race" %>
  <%= f.input :birth_date, label: "Date de naissance"%>
  <%= f.input :weight, label: "Poids"%>
  <%= f.input :description, label: "Description" %>
  <%= f.button :submit, "Enregistrer" %>
<% end %>
