<div class="container">

  <%= render "shared/card" %>

  <ul>
    <% @upcoming_events.each do |event| %>
      <% if Date.today == event.start %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Attention, n'oubliez pas votre évènement ce jour : <%= event.title %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>
      <% elsif Date.today + 1 == event.start %>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          Evenement prévu pour demain : <%= event.title %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>
      <% elsif Date.today + 2 == event.start || Date.today + 3 == event.start %>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          Evenement prévu dans les 3 prochains jours : <%= event.title %> le <%= event.start %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>
      <% end %>
    <% end %>
  </ul>

  <h1><%= @pet.name %></h1>

  <div data-controller="fullcalendar"
      data-fullcalendar-event-value='<%= @events.to_json %>'>
  </div>

  <% @events.each do |event| %>
    <ul>
      <div data-controller="sweetalert">
        <%= link_to event.title, pet_event_path(@pet, event) %>, <%= event.start %> 
        <div data-sweetalert-target="button" data-action="click->sweetalert#delete">
          <%= link_to "Supprimer", pet_event_path(@pet, event), class: "btn btn-secondary", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      </div>
    </ul>
  <% end %>
</div>
