<div class="container">

  <%= render "shared/card" %>
 
  <ul>
    <% @upcoming_events_of_pet.each do |event| %>
      <% if Date.today == event.start %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Attention, n'oubliez pas votre évènement ce jour : <%= event.title %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>
      <% elsif Date.today + 1 == event.start %>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          Evenement prévu pour demain : <%= event.title %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>
      <% elsif Date.today + 2 == event.start || Date.today + 3 == event.start %>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          Evenement prévu dans les 3 prochains jours : <%= event.title %> le <%= event.start %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>
      <% end %>
    <% end %>
  </ul>

  <div data-controller="fullcalendar"
      data-fullcalendar-event-value='<%= @events.to_json %>'>
  </div>

  <div class="container mt-4 w-100 p-0 m-0">
    <% @events.each do |event| %>
      <div class="modal fade" id="<%= event.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                <% if event.title == "Traitement" %>
                  <%= event.treatment_type %>
                <% else %>
                  <%= event.title %>
                <% end %>
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= event.details %>
            </div>
            <div class="modal-footer">
              <button type="button" style="border: none">
                <%= link_to pet_event_path(@pet, event), data: { turbo_method: :delete } do %>
                  <i class="fa-solid fa-trash fa-lg" style="color: #48ADA9;"></i>
                <% end %>
              </button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

