<div class="container">

  <%= render "shared/card" %>

  <ul>
    <% @upcoming_events.each do |event| %>
      <% if Date.today == event.start %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          Attention, n'oubliez pas votre évènement ce jour : <%= event.title %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>
      <% elsif Date.today + 1 == event.start %>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          Evenement prévu pour demain : <%= event.title %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>
      <% elsif Date.today + 2 == event.start || Date.today + 3 == event.start %>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          Evenement prévu dans les 3 prochains jours : <%= event.title %> le <%= event.start %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>
      <% end %>
    <% end %>
  </ul>

  <h1><%= @pet.name %></h1>

  <div data-controller="fullcalendar"
      data-fullcalendar-event-value='<%= @events.to_json %>'>
  </div>

  <div class="container mt-4 w-100 p-0 m-0">
    <% @events.each do |event| %>
    <ul style="padding-left : 0px !important;">
      <div class="container p-0 m-0 d-flex flex-row justify-content-between w-100">
        <p>
          <%= link_to event.title, pet_event_path(@pet, event), class: "events-list-links" %>, le <%= event.start.strftime("%d/%m/%Y") %> à <%= event.start.strftime("%H") %>h<%= event.start.strftime("%M") %>
        </p>
        <%= link_to pet_event_path(@pet, event), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <i class="fa-solid fa-trash fa-lg" style="color: #48ADA9;"></i>
        <% end %>
      </div>
      </ul>
  <% end %>
  </div>
</div>
