<div class="container">
  <h1> </h1>
  <%= simple_form_for @pet, url: step4_pet_path(@pet), method: :patch do |f| %>
      <%= f.input :description, placeholder: "Description", label: ('<i class="fa-solid fa-file-signature fa-lg" style="color: #48ADA9;"></i>').html_safe, input_html: { class: 'form-input' } %>
      <%= f.button :submit, "Next", class: 'green-basic-btn' %>
      <%= f.input :photo, as: :file, label: ('<i class="fa-solid fa-image fa-lg" style="color: #48ADA9;"></i>').html_safe, input_html: { class: 'form-input' } %>
      <div class="button-center">
        <%= f.button :submit, "Enregistrer", class: 'green-basic-btn' %>
        </div>
        <% end %>
</div>
