<div class="card-container">
  <% if @pet.photo.key == nil %>
    <% if @pet.photo_url == nil %>
      <%= image_tag "logo-white.png", width: "250px", height: "250px", alt: "Petit chat mignon", style: "border-radius: 50%;" %>
      <% else %>
      <%= image_tag @pet.photo_url, width: "250px", height: "250px", alt: "Petit chat mignon", style: "border-radius: 50%;", class: "card-image"  %>
      <% end %>
  <% else %>
    <%= cl_image_tag @pet.photo.key, width: "250px", height: "250px", alt: "Petit chat mignon", style: "border-radius: 50%;", class: "card-image" %>
  <% end %>


  <h2><strong><%= @pet.name %></strong></h2>

  <div class="container">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="pet-infos-container">
        <i class="fa-solid fa-weight-hanging fa-2xl" style="color: #48ADA9;"></i> <%= @pet.weight %>kg
      </div>
    </div>
    <div class="carousel-item">
      <div class="pet-infos-container">
        <i class="fa-solid fa-cake-candles fa-2xl" style="color: #48ADA9;"></i> <%= @pet.age %>
      </div>
    </div>
    <div class="carousel-item">
      <div class="pet-infos-container">

      <% if @pet.animal_type == "Chat" %>
        <i class="fa-solid fa-cat fa-2xl" style="color: #48ADA9;"></i>
      <% elsif @pet.animal_type == "Chien" %>
        <i class="fa-solid fa-dog fa-2xl" style="color: #48ADA9;"></i>
      <% elsif @pet.animal_type == "Oiseau" %>
        <i class="fa-solid fa-crow fa-2xl" style="color: #48ADA9;"></i>
      <% elsif @pet.animal_type == "Cheval" %>
        <i class="fa-solid fa-horse fa-2xl" style="color: #48ADA9;"></i>
      <% elsif @pet.animal_type == "Poisson" %>
        <i class="fa-solid fa-fish fa-2xl" style="color: #48ADA9;"></i>
      <% elsif @pet.animal_type == "Grenouille" %>
        <i class="fa-solid fa-frog fa-2xl" style="color: #48ADA9;"></i>
      <% elsif @pet.animal_type == "Araignée" %>
        <i class="fa-solid fa-spider fa-2xl" style="color: #48ADA9;"></i>
      <% elsif @pet.animal_type == "Serpent" %>
        <i class="fa-solid fa-worm fa-2xl" style="color: #48ADA9;"></i>
      <% elsif @pet.animal_type == "Insecte" %>
        <i class="fa-solid fa-locust fa-2xl" style="color: #48ADA9;"></i>
      <% elsif @pet.animal_type == "Dragon" %>
        <i class="fa-solid fa-dragon fa-2xl" style="color: #48ADA9;"></i>
      <% else %>
        <i class="fa-solid fa-shrimp fa-2xl" style="color: #48ADA9;"></i>
      <% end %>
      <%= @pet.breed %>

      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon colorize-carousel-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon colorize-carousel-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  </div>

  <p><%= @pet.description %></p>

    <!-- Boutons action pour agir sur mes animaux-->
  <div class="pet-actions-display-controller" data-controller="pet-action-display">
    <div class="pet-actions">
      <div data-controller="sweetalert" data-action="click->sweetalert#delete" data-sweetalert-target="pet" data-sweetalert-id-value="<%=@pet.id%>">
        <%= link_to raw('<i class="fa-solid fa-eraser fa-xl" style="color: #48ADA9;"></i>'), pet_path(@pet.id) %>
      </div>
      <i class="fa-solid fa-notes-medical fa-xl" style="color: #48ADA9;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEvents" aria-controls="offcanvasBottom"></i>
      <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasEvents">
        <div class="offcanvas-body">
          <%= render "events/create-event-form" %>
        </div>
      </div>

      <i class="fa-solid fa-pencil fa-xl" style="color: #48ADA9;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEdit" aria-controls="offcanvasBottom"></i>
      <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasEdit">
        <div class="offcanvas-body">
          <%= render "edit" %>
        </div>
      </div>
    </div>
  </div>
  <%# link_to raw('<i class="fa-solid fa-chevron-down fa-2xl" style="color: #48ADA9;"></i>'), pet_path(@pet.id) %>
  <%# link_to raw('<i class="fa-solid fa-pencil fa-xl" style="color: #48ADA9;"></i>'), root_path %>
</div>

  <!-- divs pour le contenu (activées lors du click sur les boutons correspondants) -->

<div class="card-pet-modification" data-pet-action-display-target="petModificationContainer">
  <p>Modification de la fiche de <%= @pet.name %></p>
</div>

<div class="card-pet-informations" data-pet-action-display-target="petInformationsContainer">
  <p>Informations sur <%= @pet.name %></p>
</div>
