<footer class="phone-footer" data-controller="highlight-footer">
  <%= link_to pets_path, class: "icon-link home-icon" do %>
    <i class="fa-solid fa-house fa-lg"></i>
    <span class="indicator"></span>
  <% end %>

  <div class="icon-link profile-icon" data-highlight-footer-target="search" data-action="click->highlight-footer#highlightSearchLink" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFooterSearch" aria-controls="offcanvasBottom">
    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
    <span class="indicator"></span>
  </div>

  <div class="offcanvas offcanvas-bottom footer-offcanvas-style" tabindex="-1" id="offcanvasFooterSearch" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasBottomLabel">Rechercher</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" data-action="click->highlight-footer#highlightLink"></button>
    </div>
    <div class="offcanvas-body small">
      <div class="offcanvas-content-style">
        <!-- /!\ FAKE - V - A RETIRER UNE FOIS L'INPUT CRÉÉ /!\ -->



        <div class="grid-container-search">
          <% current_user.pets.each do |pet| %>
            <%= link_to pet_path(pet) do %>
              <div class="grid-avatar-search">
                <% if pet.photo.key == nil %>
                  <%= image_tag "lumo.png", class: "mini-avatar-search" %>
                <% else %>
                  <%= cl_image_tag pet.photo.key, class: "mini-avatar-search" %>
                <% end %>
              </div>
               <% end %>
          <% end %>
         </div>





        <!-- /!\ FAKE - ^ - A RETIRER UNE FOIS L'INPUT CRÉÉ /!\ -->
      </div>
    </div>
  </div>

  <%= link_to calendar_path, class: "icon-link services-icon" do %>
    <i class="fa-solid fa-calendar fa-lg"></i>
    <span class="indicator"></span>
  <% end %>

  <div class="icon-link profile-icon" data-highlight-footer-target="profile" data-action="click->highlight-footer#highlightProfileLink" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFooterProfile" aria-controls="offcanvasBottom">
    <i class="fa-solid fa-user fa-lg"></i>
    <span class="indicator"></span>
  </div>

  <div class="offcanvas offcanvas-bottom footer-offcanvas-style" tabindex="-1" id="offcanvasFooterProfile" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Mon profil</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" data-action="click->highlight-footer#highlightLink"></button>
  </div>
  <div class="offcanvas-body small">
    <div class="offcanvas-content-style">
      <%= link_to "Log out", destroy_user_session_path, class:'btn red-basic-btn', data: {turbo_method: :delete} %>
    </div>
  </div>
</div>
</footer>
