<div class="container">
  <h1>Log in</h1>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  placeholder: "Email",
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" }, :input_html => { :class => 'form-input' },
                  label: ('<i class="fa-solid fa-at fa-lg" style="color: #48ADA9;"></i>').html_safe %>
      <%= f.input :password,
                  placeholder: "Password",
                  required: false,
                  input_html: { autocomplete: "current-password" }, :input_html => { :class => 'form-input' },
                  label: ('<i class="fa-solid fa-key fa-lg" style="color: #48ADA9;"></i>').html_safe %>
      <%= f.input :remember_me, label: "Se souvenir de moi", input_html: { class: "toggle" }, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions button-center">
      <%= f.button :submit, "Log in", class: "green-basic-btn" %>
    </div>

  <% end %>
  <div class="container mt-4">
    <%= render "devise/shared/links" %>
  </div>
</div>
