<!DOCTYPE html>
<html>
  <head>
    <title>Petsies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preload" href="<%= asset_path('application.css') %>" as="style">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>
  <%= render "shared/card" %>
    <%= yield %>
    <footer class="phone-footer">
    <%= link_to user_session_path, class: "icon-link home-icon" do %>
      <i class="fa-solid fa-house fa-lg"></i>
    <% end %>
    <%= link_to root_path, class: "icon-link search-icon" do %>
      <i class="fa-solid fa-magnifying-glass fa-lg"></i>
    <% end %>
    <%= link_to root_path, class: "icon-link services-icon" do %>
      <i class="fa-solid fa-syringe fa-lg"></i>
    <% end %>
    <%= link_to root_path, class: "icon-link profile-icon" do %>
      <i class="fa-solid fa-user fa-lg"></i>
    <% end %>
  </footer>
  </body>

</html>
