<!DOCTYPE html>
<html>
  <head>
    <title>Petsies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preload" href="<%= asset_path('application.css') %>" as="style">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('fav.ico') %>
  </head>

  <body>

  <%= render "shared/navbar" %>

  <%# /!\ À déplacer dans la page profil /!\ %>
  <%= link_to "Log out", destroy_user_session_path, class:'btn red-basic-btn', data: {turbo_method: :delete} %>

  <%= render "shared/flashes" %>
    <%= yield %>
    <footer class="phone-footer">
  <%= link_to user_session_path, class: "icon-link home-icon" do %>
    <i class="fa-solid fa-house fa-lg"></i>
    <span class="indicator"></span>
  <% end %>
  <%= link_to root_path, class: "icon-link search-icon" do %>
    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
    <span class="indicator"></span>
  <% end %>
  <%= link_to root_path, class: "icon-link services-icon" do %>
    <i class="fa-solid fa-syringe fa-lg"></i>
    <span class="indicator"></span>
  <% end %>
  <%= link_to root_path, class: "icon-link profile-icon" do %>
    <i class="fa-solid fa-user fa-lg"></i>
    <span class="indicator"></span>
  <% end %>
</footer>
  </body>

</html>
